@charset "euc-kr";

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

div {
	display: block;
}
a {
	color: #000;
	text-decoration: none;
}

form {
	display: block;
	margin-top: 0em;
}

fieldset {
	border: 0;
}


button, input[type="button"], input[type="submit"], input[type="reset"] {
	overflow: visible;
	border: 0;
	background: 0;
}

h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}


p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.hd_title {
	background-color: #57AB94;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 45px;
	color: #ffffff;
	/*background: url(/html/images/main/logo.gif) no-repeat center;*/
}

.nav {
	position: relative;
	height: 35px;
	border-top: 1px solid #c5cbcd;
	border-bottom: 1px solid #bdc4c6;
	background: #dde4e6;
	-webkit-box-shadow: inset 1px 1px 0 #d4dbdd,inset 0 -1px 0 #d8dfe1;
}
.nav ul {
	position: absolute;
	top: -1px;
	left: 0;
	height: 37px;
}
.nav::after {
	display: block;
	clear: both;
	content: '';
}
.nav ul {
	position: absolute;
	top: -1px;
	left: 0;
	height: 37px;
}
.nav li {
	float: left;
	width: 73px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #c5cbcd #c6cdcf #bdc4c6;
}
.nav li a{
	display:block;
	height:35px;
	background-color:#dde4e6;
	font-size:1.2em;
	color:#4f565e;
	line-height:35px;
	text-align:center;-webkit-box-shadow:inset 1px 0 0 #d6dddf,inset 0 1px 0 #d4dbdd,inset 0 -1px 0 #d8dfe1
}
.nav li.ic{width:37px}
.nav li.ic a span,.nav .btn_nv span,.nav .btn_nv.on span,.nav_srch .srch,.nav_srch .txt .clrt,.frm_section .itm .clrt{
	background-image:url(../images/icon_hd640_1212.png);
	background-repeat:no-repeat;background-size:70px 300px;-webkit-background-size:70px 300px
}
.nav li.ic a span.wrt{background-position:2px -117px}
.nav li.ic a span{
	display:block;overflow:hidden;width:100%;height:100%;background-position:0 0;text-indent:100px;
}

.nav .btn_nv {
	width: 36px;
}
.nav .btn_nv, .nav .btn_nv {
	display: inline-block;
	position: relative;
	width: 36px;;
	height: 29px;
	border: 0;
	background-color: #aab4b9;
	background: -webkit-gradient(linear,0 0,0 100%,from(#aab4b9),to(#8a959a));
	-webkit-border-radius: .2em;
	vertical-align: top;
}

.nav .btn_nv span {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 34px;
	height: 27px;
	border: 0;
	background-color: #e7edef;
	background-position: 0 -121px;
	text-indent: -999em;
	-webkit-border-radius: .2em;
}

.nav .btn_r {
	top: 3px;
}
.btn_r {
	position: absolute;
	top: 6px;
	right:23px;
}

.nav .btn_nv.on span {
	background-image: #494c61;
	background-position: 0 -195px;
	-webkit-box-shadow: inset 0 1px 0 #575a6f;
}
.nav .btn_nv span.srch {
	background-position: 0 -158px;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: auto;
}

.lst4 ul {
	position: absolute;
	top: -1px;
	left: 0;
	height: 27px;
}

.lst4 li {
	position: relative;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
}

.lst4 li a {
	display: block;
	overflow: hidden;
	padding: 0 .7em;
}

.lst4 li p, .lst4 li .item {
	display: block;
	overflow: hidden;
	padding-right: 50px;
	margin: 5 0 5 0px;
}

.lst4 li strong {
	font-size: 16px;
	line-height: 26px;
	color: #090909;
	font-weight: normal;
	word-wrap: break-word;
	word-break: break-all;
}

.lst4 li .info {
	padding-bottom: 0px;
	display: inline-block;
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #9a9ca3;
}

.lst4 li .cmt_num {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	right: .8em;
	background-position: 0 -496px;
	width: 37px;
	height: 26px;
	padding: 8px 0 0 0!important;
	font-size: 1.0em;
	line-height: 1em;
	color: #0ba000;
	text-align: center;
}

table.content	tr.mid{
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #c5cbcd #c6cdcf #bdc4c6;
}
table.content	tr {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #ffffff #ffffff #ffffff;
}

table.content td.large {
	font-size:20px;
}
table.content	td	{
	padding:2px 2px 2px 10px; 
	height:25px; 
	text-align:left; 
	background-color:#ffffff; 
	border:0px;
}

table.content	td.mid {
	width: 13%;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #c5cbcd #c6cdcf #bdc4c6;
}

legend {
	display: block;
	-webkit-padding-start: 2px;
	-webkit-padding-end: 2px;
	border: none;
	border-image: initial;
}
span.txt input{
	position:relative;padding:0;margin:0 3px 0 0;vertical-align:middle;
}

.u_hc, .u_skip, .hc, .u_vc {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	left: -999em;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.nav_srch{overflow:hidden;position:relative;width:100%;padding:4px 0 5px;border-width:1px 0 1px 0;border-style:solid;border-color:#303245;background-color:#494c61;-webkit-box-shadow:0 1px 2px #afafaf;z-index:100}

.nav_srch .txt {
	display: block;
	position: relative;
	height: 22px;
	margin: 0 5px;
	padding: 6px 60px 0 5px;
	border: 1px solid #33364a;
	background: #fff;
	vertical-align: top;
	-webkit-box-shadow: inset 1px 1px 2px #b8b8b8;
	box-shadow: inset 1px 1px 0 #b8b8b8;
}

.nav_srch .txt input {
	width: 100%;
	border: 0;
	font-size: 1em;
	color: #667183;
	vertical-align: top;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}



.nav_srch .txt input.on{color:#222}
.nav_srch .txt .clrt,.frm_section .itm .clrt{position:absolute;top:5px;right:39px;z-index:10;width:20px;height:20px;margin:0;padding:0;border:0;background-position:-31px -43px;text-indent:-999em;cursor:pointer}
.nav_srch .srch{position:absolute;top:4px;right:5px;width:36px;height:30px;border:0;background-color:#686b82;background-position:0 -194px;text-indent:-999em;white-space:nowrap}
.nav_srch.srch_result{display:block}

.cmt_num {
	display: inline-block;
	overflow: hidden;
	top: 14px;
	right: 10px;
	background-position: 0 -496px;
	width: 37px;
	height: 26px;
	padding: 8px 0 0 0!important;
	font-size: 1.1em;
	line-height: 1em;
	color: #0ba000!important;
	text-align: center;
}

.pages {
	padding-top: 15px;
	height: 30px;
	font-size: 1.5em;
	text-align: center;
}


.post_tit {
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 12px;
	border-bottom: 1px solid #c3c3c3;
	background-color: #fff;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f9f9f9),color-stop(80%,#fff));
}


.post_tit h2 {
	padding: .85em 50px .35em 10px;
	color: #090909;
	font-size: 19px;
	line-height: 1.25em;
}


.post_tit .if {
	position: relative;
	padding: 0 50px 0 10px;
	font-size: 13px;
	line-height: 1.4em;
	color: #999;
}

.post_tit .if_inr {
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.post_tit .if_inr .im {
	padding-right: 8px;
}

.post_tit .if_inr .nowp {
	white-space: nowrap;
}

.post_tit .if_inr .nowp .bar {
	margin-left: -7px;
}
.post_tit .if .bar {
	display: inline-block;
	margin: 0 .1em;
	font-size: 1em;
	color: #e9e9e9;
}

.post_tit .cmt_num {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 14px;
	right: 10px;
	background-position: 0 -496px;
	width: 37px;
	height: 26px;
	padding: 8px 0 0 0!important;
	font-size: 1.1em;
	line-height: 1em;
	color: #0ba000!important;
	text-align: center;
}

.post_tit .cmt_num .hc {
	font-size: 1.1em;
}

.post_cont {
	overflow: hidden;
	clear: both;
	padding: 5px 10px 26px;
	font-size: 16px;
	line-height: 1.45;
	color: #1f1f1f;
}

.post_ext {
	position: relative;
	padding: 0 8px 0 10px;
}

.post_ext2, .post_spi {
	padding: 0 10px;
}


.set {
	float: left;
	padding-left:10px;
}

.set .btn_t3 {
	display: inline-block;
	height: 30px;
	padding: 1px;
	background-color: #dbdbdb;
	background: -webkit-gradient(linear,0 0,0 100%,from(#dbdbdb),to(#babbbc));
	border-radius: 2px 2px;
}

.set .btn_t3 span {
	display: inline-block;
	height: 30px;
	padding: 0 .7em;
	background-color: #fff;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f8f8f8));
	font-size: 14px;
	color: #646567;
	line-height: 30px;
	white-space: nowrap;
	border-radius: 1px 1px;
	text-align: center;
	width:40px;
}

.app_view {
	position: relative;
	height: 19px;
	margin: 0 0 20px;
	padding: 10px;
	border: 1px solid #eaeaea;
	background: #fafafa;
	font-size: .85em;
	line-height: 19px;
	color: #999;
	letter-spacing: -1px;
}

.post_ext.post_ext_v1 {
	/*height: 56px;*/
	padding-top: 10px;
	border-top: 1px solid #c9c9c9;
}

.post_bset {
	overflow: hidden;
	width: 100%;
}
ul, ol, li {
	list-style: none;
}

.post_bset li:nth-of-type(1) {
	width: 34%;
}
.post_bset li, .post_bset2 li {
	float: left;
	position: relative;
	width: 33%;
	margin-right: -1px;
}

.post_bset li:nth-of-type(1) a, .post_bset2 li:nth-of-type(1) a {
	border-radius: .25em 0 0 .25em;
}
.btn_t4 {
	display: inline-block;
	width: 100%;
	height: 37px;
	padding: 1px;
	background-color: #c5c5c5;
	background: -webkit-gradient(linear,0 0,0 100%,from(#c5c5c5),to(#8a8a8a));
	letter-spacing: -1px;
	border-radius: .25em .25em;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.btn_t4 span {
	display: block;
	width: 100%;
	height: 37px;
	background-color: #fff;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f9f9f9));
	font-size: .9em;
	color: #1f1f1f;
	line-height: 37px;
	white-space: nowrap;
	border-radius: .2em .2em;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px #eeeeef;
}
.btn_t4 {
	letter-spacing: -1px;
}

.post_ext4 {
	padding: 10px 10px 10px 0;
	text-align: right;
}

.post_ext4 .btn_lst {
	display: inline-block;
	width: 67px;
	height: 29px;
	padding: 1px;
	background-color: #bdbcbc;
	background: -webkit-gradient(linear,0 0,0 100%,from(#bdbcbc),to(#989797));
	border-radius: 2px 2px;
}

.post_ext4 .btn_lst span {
	display: inline-block;
	width: 67px;
	height: 29px;
	background-color: #fff;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f6f6f6));
	font-size: 1.25em;
	letter-spacing: -1px;
	line-height: 29px;
	color: #444;
	white-space: nowrap;
	border-radius: 1px 1px;
	text-align: center;
}

.cmt_num, .post_nav a .bu {
	background-image: url(../images/icon_1031.png);
	background-repeat: no-repeat;
	background-size: 80px 770px;
	-webkit-background-size: 80px 770px;
}
.post_nav {
	padding: 0 0 1px;
	font-size: 16px;
}
.post_nav a {
	display: block;
	overflow: hidden;
	margin-bottom: -1px;
	padding: .75em 4.5em .7em 3em;
	border: solid #ebebeb;
	border-width: 1px 0;
	line-height: 1.2em;
	font-size: 0.95em;
	color: #303030;
}

.post_nav .inr {
	display: inline-block;
	position: relative;
	max-width: 100%;
}
.post_nav a {
	line-height: 1.2em;
	font-size: 0.95em;
	color: #303030;
}

.post_nav a .bu {
	display: inline-block;
	position: absolute;
	top: 0;
	left: -3.3em;
	margin-right: 7px;
	padding: 0 8px 0 20px;
	background-position: 0 0;
	letter-spacing: -1px;
}

.post_nav .inr em {
	display: inline-block;
	position: absolute;
	top: 0;
	right: -3.5em;
	width: 3.2em;
	color: #ed1b23;
	vertical-align: top;
}
em, address {
	font-style: normal;
}

.post_nav .inr strong {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post_nav a.next1 .inr .bu {
	background-position: -60px -55px;
}

.post_nav a.current .inr .bu {
	background-position: 13px -145px;
}

/*
.post_nav a.next1 .inr .bu {
background-position: 0 -236px;
}

.post_nav a.prev1 .inr .bu {
background-position: 0 -201px;
}
*/

.cmt_tit {
	background-color: #dde4e6;
	position: relative;
	padding: 5px 9px 5px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	line-height: 35px;
	color: #090909;
}

.cmt_tit em {
	color: #57AB94;
	padding-right: 3px;
}

.cmt_tit .btn_cmt2, .lev_cmt_wp .btn_cmt2, .cmt_lst li .btn_cmt2 {
	display: inline-block;
	height: 35px;
	padding: 1px;
	background-color: #bdbcbc;
	background: -webkit-gradient(linear,0 0,0 100%,from(#bdbcbc),to(#989797));
	border-radius: .30em .30em;
	font-size:14px;
	width:60px;
}

.cmt_tit .btn_cmt2 button, .lev_cmt_wp .btn_cmt2 button, .cmt_lst li .btn_cmt2 button {
	display: block;
	height: 23px;
	padding: 0 8px;
	border: 0;
	background-color: #fafafa;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#f6f6f6));
	font-size: .85em;
	color: #242424;
	line-height: 23px;
	white-space: nowrap;
	border-radius: .2em .2em;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px #eee;
	width:60px;
}


.cmt_lst li .lst_wp {
	position: relative;
	padding: 9px 9px 10px;
	border-bottom: 1px solid #e6e6e6;
	font-size:14px;
}

.cmt_lst li .lst_wp strong, .memo_post strong {
	display: block;
	margin-bottom: .2em;
	font-size: .85em;
	line-height: 1.7em;
	color: #617a90;
}

.cmt_lst .post_ext, .memo_post .post_ext {
	padding: 0;
}

.lev_cmt_wp {
	padding: 10px 10px 0;
}

.lev_cmt {
	padding: 4px 3px;
	border: 1px solid #a0a0a0;
	border-radius: 3px 3px;
	background-color: #fff;
	-webkit-appearance: textarea;
}

.lev_cmt textarea {
	width: 100%;
	height: 48px;
	border: 0;
	font-size: 16px;
	color: #a7a7a7;
	-webkit-appearance: none;
}



.cmt_tit .btn_cmt2, .lev_cmt_wp .btn_cmt2, .cmt_lst li .btn_cmt2 {
	display: inline-block;
	height: 23px;
	padding: 1px;
	background-color: #bdbcbc;
	background: -webkit-gradient(linear,0 0,0 100%,from(#bdbcbc),to(#989797));
	border-radius: .25em .25em;
}

.lev_btn {
	overflow: hidden;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: right;
}



.cmt_lst .my {
	background: #ebf0f2;
}

.cmt_lst li .lst_wp .lst_btn {
	padding: .5em .1em 0;
}


.cmt_lst li .lst_wp .clst_cont span, .memo_post .clst_cont span {
	color: #1f1f1f;
	font-size:16px;
}
.cmt_lst li .lst_wp span, .memo_post span {
	font-size: .85em;
	line-height: 1.4em;
}
.cmt_lst li .btn_cmt {
	display: inline-block;
	height: 35px;
	margin-right: 1px;
	padding: 1px;
	background-color: #dbdbdb;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#b9b9b9));
	border-radius: 2px 2px;
}

.cmt_lst li .btn_cmt button {
	display: inline-block;
	height: 35px;
	padding: 0 .75em;
	border: 0;
	background-color: #fff;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f8f8f8));
	font-size: .9em;
	color: #444;
	line-height: 21px;
	white-space: nowrap;
	border-radius: 1px 1px;
	text-align: center;
	width: 50px;
	font-size: 14px;
}


/* 로그인 */
.ct_wrap {
	padding: 12px 12px 0;
	border-bottom: 3px solid #57AB94;
	background-color: #eceff0;
}

.input_area_v1 {
	padding-bottom: 5px;
}
.input_area {
	overflow: hidden;
	position: relative;
}
img, fieldset {
	border: 0;
}

.input_txt_area {
	display: block;
	position: relative;
	height: 25px;
	padding: 7px 32px 0 5px;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
	background: #fff;
	-webkit-box-shadow: 0 1px #eee inset;
}

.input_chb {
	display: block;
	position: relative;
	width: 127px;
	height: 24px;
	margin: 10px 0 3px;
}


.ls {
	display: inline-block;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #71C55E;
	background: -webkit-gradient(linear,0 0,0 100%,from(#B6E1AA),to(#57AB94));
	-webkit-box-shadow: 0 1px 2px #bdbfc0;
}
.ls_v1 {
	display: inline-block;
	position: absolute;
	bottom: 42px;
	right: 0;
}
.btn_sl {
	width: 71px;
	height: 71px;
	padding-bottom: 2px;
	border: 1px solid #6be62a;
	border-radius: 1px;
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.input_chb .chb {
	z-index: 100;
	position: absolute;
	top: 3px;
	left: 0px;
	width: 30px;
	height: 17px;
	opacity:1;
}

.input_chb label {
	display: inline-block;
	position: absolute;
	height: 24px;
	padding-left: 20px;
	top: 0;
	left: 0;
	background-position: 0 -61px;
	font-size: 12px;
	line-height: 24px;
	color: #333;
}
h1 a, .u_cri_v1, .wrg, .fcb-checkbox-on .fcb-imgCheckbox, .fcb-imgCheckbox, .sl_help2 a .m2::after, .error_box, .tit, .error_v2 a span, .btn_sl2, .par, a.b_email::before, .input_chb label, .korea .u_keyboard .btn_key::after, .korea .u_keyboard .u_keyup::after {
	background: url(/login/image/global/mobile/sp_signin.png) no-repeat;
	-webkit-background-size: 250px 250px;
	background-size: 250px 250px;
}

.int {
	width: 100%;
	padding: 0;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	font-size: 15px;
	font-weight: bold;
}
.wrg {
	position: absolute;
	top: 3px;
	right: 0;
	z-index: 10;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-position: 0 -31px;
	text-indent: -999px;
	cursor: pointer;
	background-color: transparent;
}
.in_area dd {
	margin: 0 5px 5px 0;
}

.in_area_v1 {
	margin: 5px 77px 0 0;
}
/* 로그인 */


/* 글쓰기 */
.hd_sub {
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}

.hd_sub_inr {
	position: relative;
	height: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #8e8e8e;
	background-color: #f5f5f5;
}

.hd_sub h1 {
	padding: 0 40px;
	font-size: 1.2em;
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
}

.hd_sub_inr .btn_l {
	position: absolute;
	top: 6px;
	left: 5px;
}

.btn_t, .btn_t_w {
	display: inline-block;
	height: 26px;
	padding: 1px;
	background-color: #bcbcbc;
	background: -webkit-gradient(linear,0 0,0 100%,from(#bcbcbc),to(#8a8a8a));
	letter-spacing: -1px;
	border-radius: 2px 2px;
	-webkit-box-shadow: 0 1px #dfe0e1;
}

.btn_t span, .btn_t_w span {
	display: inline-block;
	width: 25px;
	height: 26px;
	padding: 0 .7em;
	background-color: #fefefe;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f1f1f1));
	font-size: .95em;
	color: #222;
	line-height: 26px;
	white-space: nowrap;
	border-radius: 1px 1px;
	text-align: center;
}

.btn_t2 span {
	background-color: #0ba601;
	background: -webkit-gradient(linear,0 0,0 100%,from(#93E5CF),to(#57AB94));
	color: #fff;
	text-shadow: 1px 1px 0 #0c9f01;
	width: 25px;
}

.hd_sub_inr .btn_r {
	position: absolute;
	top: 6px;
	right: 30px;
}

.post {
	margin: 0 10px 16px;
	padding: 1.1em 0 0 0;
}

.post_top .inp {
	border: 1px solid #a0a0a0;
	border-radius: 5px 5px;
	-webkit-appearance: textfield;
	margin-bottom: 10px;
}

.post_top .inp input {
	width: 98%;
	padding: .2em 0 .3em .4em;
	border: 0;
	font-size: 16px;
	color: #999;
	line-height: 2.3em;
	-webkit-appearance: none;
	background: transparent;
}
.post_top dt {
	display: none;
}

.post_wr {
	padding: .4em 0;
	border: 1px solid #a0a0a0;
	border-radius: 5px 5px;
	-webkit-appearance: textarea;
}

.post_wr textarea {
	width: 98%;
	height: 197px;
	margin-left: .3em;
	border: 0;
	font-size: 16px;
	color: #999;
	-webkit-appearance: none;
}

.post_btm {
	position: relative;
	height: 15px;
	border-top: 1px solid #dbdbdb;
}

.post_btm3 {
	margin: 1em 10px 0;
}

/* 글쓰기 */